body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
	box-sizing: border-box;
}

main{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.prime{
	background: #cfbcff;
}

.comp{
	background: #bcdaff;
}

#unity{
	background: #bcffe1;
	color: white;
}

